

{% extends 'base.html' %}
{% block title %}پست جدید{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h2 class="text-center">ایجاد پست</h2>
                    </div>
                    <div class="card-body text-right" dir="rtl">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{form.image.id_for_label}}" class="form-label">تصویر پست</label>
                                <input type="file" name="{{form.image.name}}" id="{{form.image.id_for_label}}" class="form-control-file">
                                {% if form.image.errors %}
                                    <div class="text-danger">{{form.image.errors}}</div>
                                {% endif %}
                            </div>
                           
                            <div class="form-group">
                                <label for="{{form.caption.id_for_label}}" class="form-label">عنوان</label>
                                <textarea  name="{{form.caption.name}}" id="{{form.caption.id_for_label}}" class="form-control"></textarea>
                                {% if form.caption.errors %}
                                    <div class="text-danger">{{form.caption.errors}}</div>
                                {% endif %}
                            </div>
                            
                           
                            
                            <button type="submit" class="btn btn-primary">ذخیره</button>
                            <a href="{% url 'profile' request.user.username %}" class="btn btn-dark float-left">انصراف</a></p>
                        </form>
                        <hr>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock content %}
