{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
      /* static/css/styles.css */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  color: #007bff;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
    </style>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-right" dir="rtl">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Django Social </a>
        
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a href="{% url 'user_list' %}" class="nav-link active">کاربران</a>
                  </li>
                    <li class="nav-item">
                      <a href="{% url 'profile' request.user.username %}" class="nav-link active">پروفایل</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'create_post' %}" class="nav-link active">ایجاد پست</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'custom_password_change' %}">تغییر رمز عبور</a>
                    </li>
                      
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'logout' %}">خروج</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'register' %}">ثبت‌نام</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'login' %}">ورود</a>
                    </li>
                    
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
    {% if messages %}
  {% for message in messages %}
    <div id="message" class="container" dir="rtl">
      <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong>
         
        {{ message }}
      </div>
    </div>
  {% endfor %}
{% endif %}
    {% block content %}{% endblock content %}
</body>
</html>